@font-face {
    font-family: "Linux Biolinum";
    src: url("../fonts/LinBiolinum_RB.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Linux Biolinum";
    src: url("../fonts/LinBiolinum_RI.ttf");
    font-style: italic, oblique;
}

@font-face {
    font-family: "Linux Biolinum";
    src: url("../fonts/LinBiolinum_R.ttf");
}

body {
    font-family: "Linux Biolinum";
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    font-size: 120%;
}
